<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Courses Viewer</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header"></div>

    <h1 class="ch-website-header">The Coder Hoang Offisial Website (Python Course's Viewer)</h1>

    <div class="python-bg-courses-div">
        <h1 class="python-bgn-courses">Python Bigginner Courses</h1>
        <h3 class="description">For the people who know 0-little knowledge about Python, get this courses to
            improve your Python skill and maybe be a Python dev in the future if you wanted to</h3>
        <h2 class="whatll-learn">What you'll learn in the courses</h2>
        <h4 class="learn">✅ Learn the basic of Python</h4>
        <h4 class="learn">✅ Learn Python effectively</h4>
        <h4 class="learn">✅ Learn object-oriented programming</h4>
    </div>

    <div class="pricing">
        <h1 class="name">Python Bigginer Courses</h1>
        <h1 class="price">CA $2.99 (Sale)</h1>
        <a href="pay.html"><button class="buy">Buy</button></a>
        <img src="../../../../../img/courses/biginner-python.png" alt="course's img" class="img">
        <a href="https://coder-hoang.github.io/courses"><h2 class="already">Already have our courses?</h2></a>
    </div>

    <div class="div-1">
        <h1 class="part-1">Part 1: Common (Basic) Programming Concept</h1>
        <h3 class="p1-chapter">Chapter 1: Print & Input</h3>
        <h3 class="p1-chapter">Chapter 2: Variable</h3>
        <h3 class="p1-chapter">Chapter 3: Comment</h3>
    </div>

    <div class="div-2">
        <h1 class="part-2">Part 2: Variable</h1>
        <h3 class="p2-chapter">Chapter 1: Common Variable</h3>
        <h3 class="p2-chapter">Chapter 2: String Methods</h3>
    </div>


    <div class="div-3">
        <h1 class="part-3">Part 3: Loops</h1>
        <h3 class="p3-chapter">Chapter 1: If Statement</h3>
        <h3 class="p3-chapter">Chapter 2: Match Cases</h3>
        <h3 class="p3-chapter">Chapter 3: While Loop</h3>
        <h3 class="p3-chapter">Chapter 4: For Loop</h3>
        <h3 class="p3-chapter">Chapter 5: Document</h3>
    </div>

    <div class="div-4">
        <h1 class="part-4">Part 4: Function</h1>
        <h3 class="p4-chapter">Chapter 1: Prameters</h3>
        <h3 class="p4-chapter">Chapter 2: Scope</h3>
        <h3 class="p4-chapter">Chapter 3: Lambda</h3>
        <h3 class="p4-chapter">Chapter 4: For Loop</h3>
        <h3 class="p4-chapter">Chapter 5: Try Else Except Finally</h3>
    </div>

    <div class="div-5">
        <h1 class="part-5">Part 5: Data Handling</h1>
        <h3 class="p5-chapter">Chapter 1: List</h3>
        <h3 class="p5-chapter">Chapter 2: Sorting</h3>
        <h3 class="p5-chapter">Chapter 3: Map & Filter</h3>
        <h3 class="p5-chapter">Chapter 4: Handle File</h3>
        <h3 class="p5-chapter">Chapter 5: Deleting the data</h3>
        <h3 class="p5-chapter">Chapter 6: Dict</h3>        
    </div>

    <div class="div-6">
        <h1 class="part-6">Part 6: Class</h1>
        <h3 class="p6-chapter">Chapter 1: Def</h3>
        <h3 class="p6-chapter">Chapter 2: Classes</h3>
        <h3 class="p6-chapter">Chapter 3: Scope</h3>
        <h3 class="p6-chapter">Chapter 4: Inheritance</h3>     
    </div>
</body>
</html>
