<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Courses Viewer</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header"></div>

    <h1 class="ch-website-header">The Coder Hoang Offisial Website (Python Course's Viewer)</h1>

    <div class="python-bg-courses-div">
        <h1 class="python-bgn-courses">Python Advanced Courses</h1>
        <h3 class="description">By now, you should able to create some simple project with Pygame to start, Note: Check the pygame intermediate courses</h3>
        <h2 class="whatll-learn">What you'll learn in the courses</h2>
        <h4 class="learn">✅ Create Harder Project/Games With Pygame</h4>
    </div>

    <div class="pricing">
        <h1 class="name">Python Intermediate Courses</h1>
        <h1 class="price">CA $49.99</h1>
        <a href="https://coder-hoang.github.io/courses"><h2 class="already">Already have our courses?</h2></a>
        <a href="pay.html"><button class="buy">Buy</button></a>
        <img src="../../../../../img/courses/pygame-inter.png" alt="course's img" class="img">
    </div>

    <div class="div-2">
        <h1 class="part-2">Part 1: The Basics</h1>
        <h3 class="p2-chapter">Chapter 1: Button</h3>
        <h3 class="p2-chapter">Chapter 2: Textbox</h3>
        <h3 class="p2-chapter">Chapter 3: Styling</h3>
    </div>

    <div class="div-4">
        <h1 class="part-4">Part 1: The App</h1>
        <h3 class="p4-chapter">Chapter 1: Calculator</h3>
        <h3 class="p4-chapter">Chapter 2: Paint</h3>
        <h3 class="p4-chapter">Chapter 3: Stop Watch</h3>
        <h3 class="p4-chapter">Chapter 4: Current Time</h3>
        <h3 class="p4-chapter">Chapter 5: Weather</h3>
        <h3 class="p4-chapter">Chapter 6: Image Editor</h3>
        <h3 class="p4-chapter">Chapter 7: Maps</h3>
        <h3 class="p4-chapter">Chapter 8: Stop Watch</h3>
    </div>
    </div>
</body>
</html>