<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Courses Viewer</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header"></div>

    <h1 class="ch-website-header">The Coder Hoang Offisial Website (Python Course's Viewer)</h1>

    <div class="python-bg-courses-div">
        <h1 class="python-bgn-courses">Python Intermediate Courses</h1>
        <h3 class="description">By now, you should know the basics of Pygame (view the pygame bigginner courses) to start</h3>
        <h2 class="whatll-learn">What you'll learn in the courses</h2>
        <h4 class="learn">✅ Learn the shape collision</h4>
        <h4 class="learn">✅ Learn how to make some simple app with Pygame</h4>
        <h4 class="learn">✅ Create your first project with Pygame!!!</h4>
    </div>

    <div class="pricing">
        <h1 class="name">Python Intermediate Courses</h1>
        <h1 class="price">CA $29.99</h1>
        <a href="pay.html"><button class="buy">Buy</button></a>
        <img src="../../../../../img/courses/pygame-inter.png" alt="course's img" class="img">
        <a href="https://coder-hoang.github.io/courses"><h2 class="already">Already have our courses?</h2></a>
    </div>

    <div class="div-1">
        <h1 class="part-1">Part 1: Shape collision</h1>
        <h3 class="p1-chapter">Chapter 1: How does a shape collision works in pygame</h3>
        <h3 class="p1-chapter">Chapter 2: Create a shape collision</h3>
        <h3 class="p1-chapter">Chapter 3: How does the image shape collision work?</h3>
        <h3 class="p1-chapter">Chapter 4: Create a image shape collision</h3>
    </div>

    <div class="div-2">
        <h1 class="part-2">Part 2: Mouse Click</h1>
        <h3 class="p2-chapter">Chapter 1: How to detect collision by click a mouse</h3>
        <h3 class="p2-chapter">Chapter 2: Other waysof how to do it!!</h3>
    </div>


    <div class="div-3">
        <h1 class="part-3">Part 3: Pygame project!!!! Don't worry, here, we have explained our code properly</h1>
        <h3 class="p3-chapter">Chapter 1: Planet Simulator</h3>
        <h3 class="p3-chapter">Chapter 2: Hangman</h3>
        <h3 class="p3-chapter">Chapter 3: Pool Game</h3>
        <h3 class="p3-chapter">Chapter 4: Snake</h3>
        <h3 class="p3-chapter">Chapter 5: Tetris</h3>
        <h3 class="p3-chapter">Chapter 6: Breakout</h3>
        <h3 class="p3-chapter">Chapter 7: Space Invader</h3>
        <h3 class="p3-chapter">Chapter 8: Paint</h3>
        <h3 class="p3-chapter">Chapter 9: Black Jack</h3>
        <h3 class="p3-chapter">Chapter 10: Flappy Bird 2 versions</h3>
        <h3 class="p3-chapter">Chapter 11: Pong</h3>
    </div>
    </div>
</body>
</html>