<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Courses Viewer</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header"></div>

    <h1 class="ch-website-header">The Coder Hoang Offisial Website (Python Course's Viewer)</h1>

    <div class="python-bg-courses-div">
        <h1 class="python-bgn-courses">Python Bigginner Courses</h1>
        <h3 class="description">For the people who know 0-little knowledge about Python, get this courses to
            improve your Python skill and maybe be a Python dev in the future if you wanted to</h3>
        <h2 class="whatll-learn">What you'll learn in the courses</h2>
        <h4 class="learn">✅ Learn the basic of Pygame</h4>
        <h4 class="learn">✅ Learn Pygame effectively</h4>
        <h4 class="learn">✅ Learn how video games work</h4>
    </div>

    <div class="pricing">
        <h1 class="name">Python Bigginer Courses</h1>
        <h1 class="price">CA $29.99</h1>
        <a href="pay.html"><button class="buy">Buy</button></a>
        <img src="../../../../../img/courses/pygame-bgn.png" alt="course's img" class="img">
        <a href="https://coder-hoang.github.io/courses"><h2 class="already">Already have our courses?</h2></a>
    </div>

    <div class="div-1">
        <h1 class="part-1">Part 1: How does video games work?</h1>
        <h3 class="p1-chapter">Chapter 1: How does movie work?</h3>
        <h3 class="p1-chapter">Chapter 2: What is the different between movie and video games</h3>
        <h3 class="p1-chapter">Chapter 3: How does Pygame helps you to create video games?</h3>
    </div>

    <div class="div-2">
        <h1 class="part-2">Part 2: Variable</h1>
        <h3 class="p2-chapter">Chapter 1: Common Variable</h3>
        <h3 class="p2-chapter">Chapter 2: String Methods</h3>
    </div>


    <div class="div-3">
        <h1 class="part-3">Part 3: Create a simple Pygame window</h1>
        <h3 class="p3-chapter">Chapter 1: Create title and the project</h3>
        <h3 class="p3-chapter">Chapter 2: How to make the project run forever</h3>
        <h3 class="p3-chapter">Chapter 3: How does FPS work?</h3>
        <h3 class="p3-chapter">Chapter 4: Create Pygame clock</h3>
    </div>

    <div class="div-4">
        <h1 class="part-4">Part 4: Pygame Surface</h1>
        <h3 class="p4-chapter">Chapter 1: How does surface work</h3>
        <h3 class="p4-chapter">Chapter 2: Create surface</h3>
    </div>

    <div class="div-5">
        <h1 class="part-5">Part 5: Basic Animation</h1>
        <h3 class="p5-chapter">Chapter 1: Create Movement</h3>
        <h3 class="p5-chapter">Chapter 2: Animation</h3>   
    </div>

    <div class="div-6">
        <h1 class="part-6">Part 6: Mix Pygame Module</h1>
        <h3 class="p6-chapter">Chapter 1: Keyboard Input</h3>     
    </div>
</body>
</html>